h1,h2,h3{
    font-weight: 700;
    font-size: xx-large;
    color: red;
    text-align: left;
    text-underline-position: below;
}
p{
    text-align: justify;
    font-size: larger;
    color: blue;
}
body{
    background-color: rgb(207, 180, 143);
    border: 5em;
    
}
li{
    font-weight: 500;
    color: blue;
    text-align: justify;
    
}
.foo{ 
    text-align: right;
    color: white;
  font-family: Helvetica, sans-serif;
  font-size: large;
  background-color: rgb(255, 0, 0);
  background-size: cover;
  margin: 4em;
  background-size: cover;
  }
  