h1,h2,h3{
    font-weight: 700;
    font-size: xx-large;
    color: red;
    text-align: left;
    text-underline-position: below;
}
p{
    text-align: center;
    font-size: larger;
    color: blue;
}
body{
    background-color: cornsilk;
    border: 5em;
    
}