*{
    margin: 0px;
    padding: 5px;
    justify-content: center;
    font-family: garamond,sans-serif;
}
#wrapper{
    width: 100%;
    margin: auto;
}
body{
    background-image: linear-gradient(to right, rgb(102, 148, 163), rgb(173, 173, 173));
}
#logo-div{
    background-color:black;
    color: white;
}
#navbar{
    background-color: cornflowerblue;
    margin-bottom: 10px;
}
.button{
    background-color: blanchedalmond;
    color: black;
    display: inline-block;
    border-radius: 40%;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 80%;
}
#nav-div{
    background-color: lightgray;
}
#header-banner{
    background-image: url("stethoscope.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 30px;
}
#header-banner-txt{
    color: blanchedalmond;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 275%;
    font-stretch: expanded;
    font-weight: 700;
    
}
#intro-text{
    background-color: darkcyan;
    font-size: 175%;
    padding: 10px;
    border: 3px solid black;
    font-family:garamond,Arial, Helvetica, sans-serif;
    font-stretch: wider; 
    font-weight: 600;
    color: lightblue;
    margin-bottom: 40px;
    margin-top: 40px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
#main-div{
    display: block;
    text-align: center;
}
.box>div{
    margin-top: 5%;
    margin-bottom: 5px;
}
.box{
    width: 40%;
    max-width: 80%1;
    background-color: rgb(19, 35, 59);
    color: blanchedalmond;
    display: inline-block;
    min-height: 425px;
    max-height: fit-content;   
    min-width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    font-weight: 600;
    margin-bottom: 50px;
    
}

.box>div{
    text-decoration: underline;
    font-size: xx-large;
}
.topic{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 140%;
    font-weight: 500;
    font-stretch: wider;   
}
#profesion{
    background-color: rgb(0, 0, 0);
    display: inline-block;
    margin-top: 50px;
    min-height: 250px;
    max-height: min-content;
    border: 3px solid black;
    min-width: 40%;
    margin: 0%;
    margin-top: 50px;
    width: 20%;
    margin-left: 33%;
    text-align: center;
}
#profesion>div{
    color: rgb(124, 91, 47);
    text-decoration: underline;
    font-weight: 700;
    font-size: 200%;
    margin-left: 40px;
}
#education>div{
    color: antiquewhite;
    text-decoration: underline;
    font-weight: 700;
    font-size: 200%;
    margin-left: 40px;
}

#education{
    display: inline-block;
    min-height: 200px;
    max-height: min-content;
    background-color: rgb(41, 41, 41);
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid black;
    min-width: 40%;
    margin-left: 33%;
    text-align: center;
}
#scroll{
    height: fit-content;
    background-color: rgb(94, 94, 94);
    padding: 1px;
    display: block; 
}
#footer-div{
    background-color: rgb(0, 0, 0);
    margin-bottom: 0%;
    display: block;
    height: 100px;
    font-size: large;
    position: static;
    bottom: 0px;
    min-width: 95%;
    color: antiquewhite;

}
#footer-div>div{
    font-weight: 600;
    font-size: 150%;
    float: right;
    min-width: fit-content;
}
.topic:hover{background-color: darkgray;padding: 1px;}
.button:hover{background-color: gray;color: blanchedalmond;}