

  .navbar{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    
    
  }
  
  
h1{
    clear: both;
}

.foo{ 
    text-align: right;
    color: white;
  font-family: Helvetica, sans-serif;
  font-size: large;
  background-color: red;
  background-size: cover;
  margin: 4em;
  background-size: cover;
  }
  body{
    margin: 0%;
    padding: 0%;
    background-color: aquamarine;
  }