.select1{
    font-size: xx-large;
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 8em;
    padding-bottom: 2em;
    border-style: solid;
    border-color: black;
    background-color: red;
    color: bisque;
    background-size: cover;
    clear: both;
    margin: 10em;

}
h1{
    clear: both;
}

.foo{ 
    text-align: right;
    color: white;
  font-family: Helvetica, sans-serif;
  font-size: large;
  background-color: red;
  background-size: cover;
  margin: 4em;
  background-size: cover;
  }