@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

li, a, button {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    color: antiquewhite;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}