*{
    margin: 0px;
    padding: 50px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    padding: 5px;
}
body{
    background-color: cornflowerblue;
    padding: 5px;
}
#wrapper{
    width: 100%;
    background-color: rgba(255, 166, 0, 0.103);
    margin: auto;
    padding: 2px;
}
#logo-div{
    width: 100%;
    min-height: 20px;
    background-color: rgb(104, 104, 104);
    padding-left: 2%;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: right;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
}
#logo-div p{
    text-align: right;
    position: absolute;
    right: 10px;
    flex-wrap: wrap;
}
#logolinks>a{
    background-color: rgb(141, 141, 141);
    padding: 5px;
    margin: 10px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}
#nav-div{
    width: 100%;
    min-height: 30px;
    background-color: rgb(163, 163, 163);
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}
#headerb{
    width: 100%;
    min-height: 100px;
    background-color: rgb(104, 104, 104);
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;   
    padding: 0%;
}
#headerb>p{
    font-size: 35px;
    color: rgb(0, 0, 0);
    padding: 0%;
}
#headerb>a{
    color: black;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}
#main-div{
    width: 100%;
   
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
#side-div{
    width: 24%;
    float: left;
    background-color: lightgray;
    min-height: 400px;
}   
#body-div{
    width: 75%;
    min-height: 400px;
    background-color: lightgray;
    float: right;
}
#footer-div{
    width: 100%;
    min-height: 50px;
    background-color: rgb(73, 73, 73);
    text-align: center;3.
}
#nav-div{
    padding: 1px;
}
#navlinks>a{
    background-color: rgb(117, 117, 117);
    padding: 10px;
    margin: 5px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}
#side-div{
    background-color: rgb(59, 59, 59);
    color: antiquewhite;
    font-weight: 700;
    font-family: monospace;
}
#side-div>p{
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: justify;
    font-size: 35px;
}
#body-div{
    color: antiquewhite;
    background-color: rgb(59, 59, 59);
    font-size: 24px;
    line-height: 30px;
}
#body-div>h1{
    padding: 15px;
}
#copy{
    text-align: left;
    padding: 0px;
}
#navlinks>a:hover{background-color: cadetblue;transition: .1s;}
#headerb:hover{background-color: black;transition: 0.75s;}
#headerb>p:hover{color: lightgray;transition:}
#side-div>p:hover{font-size: 38px;}

