h1 {
  background-size: cover;
  background-color: maroon;
  color: aliceblue;
  text-align: left;
  font-weight: 500;
  font-size: 48;
  padding: auto;
  line-height: 200%;
}



address {
        color: rgb(92, 92, 248);
        text-align: center;
        font-size: 36;
        
}
img {
    width: max-content;
    margin: auto;
    display: block;
    border: 2px solid maroon
    
  }

 .select2{
    size: 100px;
    width: 200%;
    font-size: larger;
    font-weight: 400;
    font-family: 'roboto', sans-serif;
    font-size: x-large;
 }



body{ 
  background-color:rgb(179, 155, 129);
  
}
footer {
  font-size: 24;
  font-weight: 400;
  color: rgb(95, 180, 255);
  margin: 10px solid rgb(252, 249, 249);
  padding: 2em;
  text-align: center;
  }
  
 h2{
  text-align: center;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color:white
  

  
 }
 
 .soc{
        height: 400px;
        width: 400px;
        margin: auto;
        padding: 30px;
        
 }
 .panda{
  text-align: center;
  font-size: larger;
  font-family: 'Lucida Sans', 
  sans-serif;
  color: white;   
}


.foo{ 
  text-align: right;
  color: white;
font-family: Helvetica, sans-serif;
font-size: large;
background-color: maroon;
background-size: cover;
margin: 4em;
background-size: cover;
}

.amz{
  color: yellow;
  font-weight: 400;
  font-size: xx-large;
}
 
p{
  text-align: center;
  color: white;

}