/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.class{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    size: 50px;
}