
address {
        color: blue;
        
}
img {
    width: 30%;
    float: right;
    
  }

 .select1, .select2{
    size: 100px;
    width: 200%;
    font-size: larger;
    font-weight: 400;
    font-family: 'roboto', sans-serif;
 }


span{
  height: 75px;
  width: 155px;
  background: #5d6355a6;
  /*display: try block and inline block /*float*/
 
 
}
body{ 
  background-color: rgba(85, 28, 28, 0.279);
  
}