/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    font-family: Arial, Helvetica, sans-serif;
    size: 50px;
    float: left;
    flex-flow: column;
}
.nav>a{
    padding: auto;
}

.logo{
    display: flex;
    float: right;
    position: relative;
    margin-right: 15px;
}

.wrapper{

    background-color: cornflowerblue;
    border: 3px;
    border-color: plum;
    display: flex;   
}